body{
  display: flex;
  align-items: center;
  justify-content: center;
}

span{
  font-size: 42px;
  text-decoration: underline;
  text-decoration-color: #352DE8;
}

#main-container{
  display: flex;
  flex-direction: column;
  border: 3px black solid;
  width:90vw;
  height:90vh;
  padding:30px;
}

.title{
  flex:1;
}

.ingredient-list{
  flex:6;
  width:30%;
  background-color: #EEE;
  margin-top:30px;
}

.images-row{
  flex:3;
  margin-top:30px;
  background-color: #EEE;
}
